<?xml version="1.0" encoding="UTF-8"?>
<plugin category="HPCC EDA"
        classname="org.hpccsystems.pentaho.job.eclginicoefficient.ECLGiniCoefficient"
        description="GiniCoefficient"
        iconfile="ginicoefficient.png"
        id="ECLGiniCoefficient"
        tooltip="GiniCoefficient">
            
    <libraries>
	     <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclginicoefficient.jar"/>
    </libraries>            
</plugin>