<?xml version="1.0" encoding="UTF-8"?>
<plugin category="HPCC EDA"
        classname="org.hpccsystems.pentaho.job.eclpvalue.ECLPValue"
        description="PValue"
        iconfile="pvalue.png"
        id="ECLPValue"
        tooltip="PValue">
            
    <libraries>
	     <library name="../../hpcc-common/javaecl-0.1.0.jar"/>
        <library name="../../hpcc-common/eclgui.jar"/>
        <library name="eclpvalue.jar"/>
    </libraries>            
</plugin>